body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: flex;
}

.grid-container {
    height: 520px;
    width: 520px;
    display: grid;
    column-gap: 0px;
    margin-left: 50px;
}

.grid-container div{
    border: 0.5px solid rgb(146, 146, 146);
}

button {
    height: 40px;
    width: 140px;
}

.buttons {
    margin-top: 10px;
}